* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-size: 1.6rem;
    background-color:whitesmoke;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    color: #AAA;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}